.genome-browser-background {
  fill: white;
  cursor: move;
}
svg.active * {
  fill-opacity: 0.6 !important;
}
.gene {
  cursor: pointer;
}


.genome-axis-window {
  fill: lightgrey;
  fill-opacity: 0.7;
  stroke: lightslategray;
  rx: 2;
}